<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gust.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187436551AA703B400297383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187436641AA704D200297383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187436831AA7076B00297383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EEDF111AA5FD6000033447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EEDF2D1AA5FD6000033447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
